<p>
  {{ currentQuestionDisplay }} / {{ totalQuestionDisplay }}
</p>

<p> {{ questionDisplay.content }} </p>

<table>
  <tr>
    <button (click) = "selectChoice(choiceDisplay1.text)"><label> {{ choiceDisplay1.text }} </label></button>
    <button (click) = "selectChoice(choiceDisplay2.text)"><label> {{ choiceDisplay2.text }} </label></button>
  </tr>
  <tr>
    <button (click) = "selectChoice(choiceDisplay3.text)"><label> {{ choiceDisplay3.text }} </label></button>
    <button (click) = "selectChoice(choiceDisplay4.text)"><label> {{ choiceDisplay4.text }} </label></button>
  </tr>
</table>

<p> {{ infoDisplay }} </p>