<table>
  <tr>
    <th>Quiz Name</th>
    <th>Owner</th>
  </tr>
  <tr *ngFor='let quiz of quizList'>
    <td>
      <button (click) = "solveQuiz(quiz.name)">
        <label>{{ quiz.name }}</label>
      </button>
    </td>
    <td>{{ quiz.user.nick }}</td>
  </tr>
  <tr>
    <td>
      <form>
        <input [(ngModel)]="quizName" type="text" name="content" />
      </form>
    </td>
    <td>
      <button (click) = "search()">
        <label>Search Quiz</label>
      </button>
    </td>
  </tr>
</table>

<p> {{ infoText }} </p>



