<table>
  <tr>
    <td>Quiz name</td>
    <td>
      <form>
        <input [(ngModel)]="quizName" name="quizName" />
      </form>
    </td>
  </tr>

  <tr>
    <td>User nick</td>
    <td>
      <form>
        <input [(ngModel)]="userNick" name="userNick" />
      </form>
    </td>
  </tr>
  
  <tr>
    <td>Question count</td>
    <td> {{ questions.length }} </td>
  </tr>
  
  <tr>
    <td>Question content</td>
    <td>
      <form>
        <input [(ngModel)]="questionContent" name="questionContent" />
      </form>
    </td>
  </tr>
  
  <tr>
    <td>Correct choice</td>
    <td>
      <form>
        <input [(ngModel)]="choice1" name="choice1" />
      </form>
    </td>
  </tr>
  
  <tr>
    <td>Other choice 1 </td>
    <td>
      <form>
          <input [(ngModel)]="choice2" name="choice2" />
        </form>
      </td>
    </tr>
    
    <tr>
      <td>Other choice 2</td>
      <td>
        <form>
          <input [(ngModel)]="choice3" name="choice3" />
        </form>
      </td>
    </tr>
    
    <tr>
      <td>Other choice 3</td>
      <td>
        <form>
          <input [(ngModel)]="choice4" name="choice4" />
        </form>
      </td>
    </tr>
    
    <tr>
      <td>
        <button (click) = "saveQuestion()">
          <label> Save Question </label>
        </button>
      </td>
      <td>
        <button (click) = "saveQuiz()">
          <label> Save Quiz </label>
        </button>
      </td>
    </tr>
  </table>
  <p> {{ informationText }} </p>